<a href="https://colab.research.google.com/github/riyasaha49/Django/blob/main/RIYADec19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Part-1 Python variable**

In [1]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [2]:
x = 4
x = "Sally"
print(x)

Sally

In [3]:
x = str(3)
y = int(3)
z = float(3)

In [4]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [5]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [6]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [7]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [8]:
x = "Python is awesome"
print(x)

Python is awesome

In [9]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [10]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [11]:
x = 5
y = 10
print(x + y)

15

In [12]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [13]:
x = 5
y = "John"
print(x, y)

5 John

In [14]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [15]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [16]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [17]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

**Part-2 Python Data Types**

In [18]:
x = 5
print(type(x))

<class 'int'>

**Part-3 Python Numbers**

In [19]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [20]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [21]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [22]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>